.header{
    position: relative; 
    width:100%;
    height: 100px;
    z-index: 15;
    background:linear-gradient(180deg,#B2B9BE,#2F4052);
    
}
 .headerwebtitle{
    width:100%;
    height:100%;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    z-index: 10;
 }
 .webtitle{
    text-align: center;
     /* color:#edfef5b0; */
     color: transparent;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     text-transform: uppercase;
     font-weight:bolder;
     margin: auto;
     font-size:130px;

     z-index: 2;
     font-size:clamp(50px, calc(30px + 2vw), 300px);
     background-image: linear-gradient(to right,#c1b6b6, #ebeab384,#b1cde4b0);
     background-size:300%;
    background-clip: text;
    -webkit-background-clip: text;
     animation: backgroundmvoe 4s linear infinite;
 }
 @keyframes backgroundmvoe{
     0%{
         background-position: 0% 50%;
     }
     50%{
         background-position: 100% 50%;
     }
     100%{
         background-position: 0% 50%;
     }
 }


.headerderocation{
    width:100vw;
    height:100vh;
    position: absolute;
    overflow: hidden;
    z-index: 5;
    display:flex ;
    justify-content: center;
    align-items: center;
}
.headerderocation1{
    margin:0;
    padding:0;
    width:vh
}