*{ 
    margin: 0px;
    box-sizing: border-box;
    border:0;
}


.navigation{
    background-color:#2F4052;
    width:100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.53); 
    border-bottom: 5px solid #868080; 
    position:sticky;
    z-index: 100;
    top:0px;
    display: flex;
    justify-content:space-evenly
}

.navigation div {
    width:25%;
    color: #edfef5b0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1em;
}
.navigation div:hover{
    background-color: #1c2631;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: bolder;
    color:white;
    display: flex;
    justify-content: center;
}
.navigationicon{
    width: 1em;
    height: 1em;
    margin-right: 10px;
}

#name{
   font-weight: bold;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size:larger;
   color:black;
   background-color: azure;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   border-radius: 40px;
   padding: 10px;
   margin: 15px;
}

#tool,#case,#library{
    display: none;
}

.webbody{

    width: 100%;
    z-index: -1;
}
.returntop{
    width: clamp(1rem, 10vw, 4rem);
    height: clamp(1rem, 10vw, 4rem);
    background-color: #2F4052;
    position: sticky;
    z-index: 100;
    top:85%;
    margin:50px;
    margin-right:3vw;
    box-shadow: 20px 10px 40px rgba(111, 196, 219, 0.244);
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.returntopbackground{
  width: 100%;
  height: 100%;
  position: absolute;
  display:flex;
  justify-content: end;
}
.returntop img{
  width: 50%;
  height: 50%;
}














.decorationBackground{
    position: absolute;
    width: 100%;
    height: 100vh;
}


.decoration1{
    background-color:chocolate;
    width:200px;
    height:200px;
    bottom:180px;
    right:180px;
    border-radius: 41% 59% 40% 60% /65% 66% 34% 35%;

    z-index: 1;

}
.decoration2{
    background:radial-gradient(chocolate,#242424,transparent);
    width:400px;
    height:400px;

    bottom:80px;
    right:80px;
    z-index: 1;
} 

.decoration4{

   top: 50%; 
   left: 50%;
   transform: translate(-50%, -50%);
   color:rgba(254, 253, 255, 0.224);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: clamp(50px, calc(50px + 20vw), 300px);
    z-index: 2;

}





