*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'type1';
    src: url('../font/type1.ttf') format('truetype');
  }

.centerBoxHeader{
    width:100%;
    height:18%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* border: 4px solid #009df8; */
}
.centerBoxHeaderWord{
    width: 25%;
    height:100%;
    /* border: 2px solid #fff; */
    display: flex;
    align-items: center;
    padding-right:20px;
    
}



.oneWordBox{
    width: 100%;
    height: 100%;
    /* border: 2px solid #843030; */
    display: flex;
    justify-content:center;
    align-items:end;
}

.oneWord{
    color:#fff;
    font-size:clamp(0.7em,1.5vw,1em);
    color:#ffffff73;
    padding-left: 10px;
    border-left: 5px solid #ffffff73;
}



.centerBoxHeaderTime{
    width: 50%;
    height:100%;
    /* border: 2px solid #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.timeBoxUserArea{
    width: 50%;
    height:100%;
    /* border: 2px solid #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.timeBox1{
/*     border: 2px solid #fff; */
    min-width: 120px;
    min-height: 50px;
    width: 50%;
    height:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    font-family: 'type1';
    font-size:clamp(50px, 0.4px + 7.8vw, 100px);
    text-shadow: 0 0 10px #00000050;

}
.timeBox2{
/*     border: 2px solid #fff; */
    min-width: 120px;
    min-height: 50px;
    width: 50%;
    height:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    font-family: 'type1';
    font-size:clamp(50px, 0.4px + 7.8vw, 100px);
    text-shadow: 0 0 10px #00000050;
}

.centerBoxHeaderWeather{
    width:25%;
    height:100%;
    /* border: 2px solid #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:20px;
}
.weatherIconBox{
    /* border: 2px solid #fff; */
    height:100%;
    display: flex;
    align-items:end;
    justify-content: center;
    margin:5px;
}
.weatherIcon{
    width:clamp(18px, 0.16px + 1.83vw, 40px);

}
.weatherName{
    height:100%;
    /* border: 2px solid #fff; */
    display: flex;
    padding-top:10px;
    justify-content: center;
    align-items: end;
    font-size:clamp(18px, 0.16px + 1.83vw, 40px);
    color:#fff;
    font-family: 'type1';


    
}
.temperature{
    padding-top:10px;
    height:100%;
    /* border: 2px solid #fff; */
    display: flex;
    justify-content: center;
    font-size:clamp(18px, 0.16px + 1.83vw, 40px);
    color:#fff;
    font-family: 'type1';
    align-items: end;    margin-right:5px;

}