*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.centerBoxTool{
    width:100%;
    height:70%;
    /* border: 2px solid #fff; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;

}




.others{
    /* border: 2px solid #00aeff; */

    width: 100%;
    height:27.5%;
    display: flex;
    flex-direction: row;
    justify-content:cenetr;
    align-items: center;


}
.part1{
    width: 100%;
    height:100%;
    min-height: 120px;
    display: flex;
    flex-direction: row;
    background-color: rgba(228, 228, 228, 0.299);
    border-radius: 3px;

    /* border: 2px solid #fff; */
}
.musicBox{
    width: 100%;
    height:100%;
    min-width: 200px;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 3px;
    
}
.musicBoxBackground{
    border-radius: 3px;
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.musicNameBox{

    margin-bottom: 5%;
    display: flex;
    justify-content:center;
    align-items: center;
    color: #ffffffb9;
    font-size: clamp(1rem, 2vw, 1.3rem);
    font-weight: bold;
}
.musicOperationBox{
    width:90%;
    height:40%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.musicOperationLast{
    width: clamp(38px, 8vh, 50px);
    height:clamp(38px, 8vh, 50px);
    padding: 10px;
    background-color: #fefefe45;
    backdrop-filter: blur(10px);
    border-radius: 50%;
    transition: all 0.3s;
}
.musicOperationLast:hover{
    background-color: #fefefe45;
    transform: scale(1.05);
}
.musicOperationPlay:hover{
    background-color: #fefefe45;
    transform: scale(1.05);
}
.musicOperationNext:hover{
    background-color: #fefefe45;
    transform: scale(1.05);
}
.musicOperationLast:active{
    background-color: #fefefe45;
    transform: scale(0.95);
}
.musicOperationPlay:active{
    background-color: #fefefe45;
    transform: scale(0.95);
}
.musicOperationNext:active{
    background-color: #fefefe45;
    transform: scale(0.95);
}
.musicOperationPlay{
    width: clamp(38px, 8vh, 50px);
    height:clamp(38px, 8vh, 50px);
    padding: 10px;
    background-color: #fefefe45;
    backdrop-filter: blur(10px);
    border-radius: 50%;
    transition: all 0.3s;
}
.musicOperationNext{
    width: clamp(38px, 8vh, 50px);
    height:clamp(38px, 8vh, 50px);
    padding: 10px;
    background-color: #fefefe45;
    backdrop-filter: blur(10px);
    border-radius: 50%;
    transition: all 0.3s;
}
.mySelf{
    /* border: 2px solid #fff; */
    height:100%;
    width: 200px;
    display: flex;
    justify-content:center;
    align-items: center;
    backdrop-filter: blur(40px);
    background-color: rgba(228, 228, 228, 0.082);
    box-shadow: 3px 0 8px rgba(0, 0, 0, 0.135);
    border-radius: 3px;

}
.mySelfBackground{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}
.mySelfBackground:hover{
    scale: 1.05;
}
.mySelfBackground:active{
    scale: 0.95;
}
.mySelfBackground:hover .mySelfImg{
    transform: rotate(360deg);
    scale: 1.2;
}
.mySelfImg{
    width: 50px;
    height:50px;
    border-radius: 50px;
    border: 2px solid #ffffff63;
    margin-bottom:10px;
    box-shadow: 0 0 10px #ffffff63;
    transition: all 0.5s;
}
.mySelfName{
    margin-bottom:10px;
    color: #fefefe;
    font-weight: bolder;
    font-size: clamp(0.8rem, 1.2vw, 1rem)

}
.mySelfWord{
    color: #fefefe75;
    font-weight: bold;
    font-size: small;
    font-size: clamp(0.6rem, 1.2vw, 0.8rem)
}
.part2{
    margin-left: 10px;
    width: 100%;
    height:100%;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    background-color:  rgba(228, 228, 228, 0.299);
    border-radius: 3px;
    backdrop-filter: blur(10px);
    transition: all 0.5s;
}

.tipBoxTitle{
    color: #fefefee5;
    margin:5px;
    font-weight: bold;
    margin-left:10px;
}
.tipListBox{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:center;
    overflow: hidden;
    padding:5px;
}
.tip{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.073);
    width: 99%;
    border-bottom: 3px solid #2c2c2c62;
}
.tip:hover{
    background-color: rgba(255, 255, 255, 0.09);
    scale : 1.01;
}
.tip:active{
    background-color: rgba(255, 255, 255, 0.05);
    scale : 0.99;
}
.tipTitle{
    color: #fefefe95;
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left:5px;
    font-size: clamp(0.7rem, 1.2vw, 0.9rem);
    padding:5px;

}
.finishOpt{
    width:17px;
    height:17px;
    margin:4px;
    /* border: 2px solid #ffffff63; */
    border-radius: 5px;
    padding:5px;
}
.finish{
    width:17px;
    height:17px;
    margin:4px;
    /* border: 2px solid #ffffff63; */
    border-radius: 5px;
    padding:5px;
    background-color: #ffffff63;
}